
h1{
	font-size: 48px;
}

h2{
	font-size: 32px;
}

label{
	display: block;
	width: 25%;
	margin:auto;
}

input{
	margin: auto;
	display: block;
	height: 36px;
	width: 80%;
	margin-top: 3%;

}

textarea{
	margin: auto;
	margin-top: 3%;
	width:80%; 
	height: 500px;
	display: block;
}
form{
	width:80%;
	margin: auto;
}
#content{
	margin: auto;
	width: 80%;
}

table{
	border-spacing: 15px;
}

#menu{
	display: block;
	margin: auto;
	width: 30%;
	
}
#second{
	margin-left: 45%;
}
a:hover { 
}

a:link{
	color : black;
}

a:visited{
	color : black;
}

a:hover{

}

.minimized-post:hover{
		color: black;
}

.minimized-post{
	height : 100%;
	width: 70%;
	display:block;
	margin:auto;


}
.minimized-post-left{
	width : 50%;
	display : inline-block;
}
.minimized-post-right{
	width : 50%;
	height: 100%;
	display:inline-block;
}

.center{
	margin: auto;
}

.center-text{
	 text-align: center;
}

.inline{
	display: inline-block;
}
img{
	width:60%;
	height: 80%;
}

.post-img{
	width:60%;
	height: 80%;
	display:block;
}

.margin-top-4{
	margin-top:4%;
}
.margin-top-2{
	margin-top:2%;
}

.margin-right-4{
	margin-right: 4%;
}

.margin-left-4{
	margin-left: 4%;
}

#minimized-text{
	margin-top: 3%;
	height: 50%;
}


/* Warning and sucess messages that appare when submitting form to the database*/
.warning, .success {
	width: 55%;
	height: 2vw;
	margin: auto;
	padding: 1.5vw 5% 3% 5%;
	display:block;
	text-align: center;
	border: 1px solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
}
.warning {
	color: #D8000C;
	background-color: #FFBABA;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}